# Configuration file

Biome {
    # Biome registry name [default: terra:nether/soul_valley]
    S:name=terra:nether/soul_valley
}


Config {
    # If set to False, parameters from this config will not be used. [default: false]
    B:enabled=false
}


